<% content_for :title, "Barn Smoque - Warszawa ul. Zgoda 5" %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'lightbox' %>
  <%= stylesheet_link_tag 'jquery.fancybox' %>
  <%= stylesheet_link_tag 'photoswipe' %>
  <%= stylesheet_link_tag 'default-skin' %>
<% end %>
    <section id="start">
        <div class="wrapper">
            <figure>
                <%= image_tag("logo_invert", alt: "Logo Barn Smoque") %>
            </figure>
            <div>
                <h1>Warszawa ul. Zgoda 5</h1>
                <h1><a href="tel:+48571414121">571414121</a></h1>
            </div>
            <div class="icons">
                <figure>
                    <a href="http://facebook.com/BarnSmoque" title="Odwiedź facebooka Barn Smoque" target="_blank">
                        <%= image_tag "icons/facebook_small", alt: "facebook" %>
                    </a>
                </figure>
                <figure>
                    <a href="http://instagram.com/barnsmoque" title="Zobacz instagram Barn Smoque" target="_blank">
                        <%= image_tag "icons/instagram_small", alt: "instagram" %>
                    </a>
                </figure>
                <figure>
                    <a href="mailto:kontakt@barnsmoque.pl" title="Napisz maila Barn Smoque">
                        <%= image_tag "icons/mail_small", alt: "mail" %>
                    </a>
                </figure>
                <figure>
                    <a href="tel:+48571414121" title="Zadzwoń do Barn Smoque">
                        <%= image_tag "icons/phone_small", alt: "telefon" %>
                    </a>
                </figure>
            </div>
        </div>
    </section>
    <nav>
        <div class="close_nav">
            <%= image_tag "icons/close_nav", alt: "close" %>
        </div>
        <ul>
            <li>
                <a onclick="$('#start').animatescroll();">Start</a>
            </li>
            <li>
                <a onclick="$('#o_restauracji').animatescroll();">O restauracji</a>
            </li>
            <li>
                <a onclick="$('#menu').animatescroll();">Menu</a>
            </li>
            <li>
                <a onclick="$('#aktualnosci').animatescroll();">Aktualności</a>
            </li>
            <li>
                <a onclick="$('#galeria').animatescroll();">Galeria</a>
            </li>
            <li>
                <a onclick="$('#kontakt').animatescroll();">Kontakt</a>
            </li>
        </ul>
    </nav>
    <div class="menu_button">
        <%= image_tag "icons/menu", alt: "Menu" %>
    </div>
    <section id="o_restauracji">
        <div class="wrapper">
            <h2>O RESTAURACJI</h2>
            <h3>Był rok 1969 w kulturze zwany okresem dzieci kwiatów. Na Woodstocku występowali m.in. Jimi Hendrix, Janis Joplin z Texasu, czy Jefferson Airplane. Prezydentem został Richard Nixon.</h3>
            <p>Tego lata Apollo 11 z Neilem Armstrongiem wylądował na księżycu. W Polsce Breakout wydał album „Na drugim brzegu tęczy”, a Skaldowie „Cała jesteś w skowronkach”. W wyborach do Sejmu poseł Władysław Gomułka otrzymał 99,44% głosów, Józef Cyrankiewicz 94% głosów, a PZPR 255 mandatów. Na Księżyc mogliśmy sobie jedynie popatrzeć... W Murzasichle nieopodal Zakopanego, młody Jasiek Gąsiennica Curuś-Farell Pizdryk Gawęda zawiązał tobołek z chlebem i bryndzą, otrzymał błogosławieństwo od rodziców na drogę za wielką wodę, co by zielonych dudków naprzywozić. W Gdyni już czekał wysłużony, ale wciąż luksusowy i drogi statek turbinowo - parowy „Stefan Batory”. To na jego pokładzie 18-letni Jasiek dotarł do Nowego Jorku, gdzie zaczął się jego amerykański sen.
            </p>
            <a class="show_more_about_restaurant">Rozwiń...</a>
            <div class="more_about_restaurant">
                <p>
                Tułał się niczym westernowy kołtun kurzu na teksańskiej prerii. Był pucybutem na Broadway przy Plaza Hotel, pomywaczem w Jack’s Fire Dept i lał wachę na stacji benzynowej przy Bedford Ave, by po kilku latach przenieść się do Avondale w Chicago, czyli słynnego Jackowa położonego w północno-zachodniej części miasta pomiędzy rzeką Chicago, a ulicami Diversey Avenue, Addison Street, i Pulaski Road. Jackowo to był raj dla Jaśka. Niby już po amerykańsku gadał, ale tu wszyscy mówili po polsku, a raczej po góralsku. Powierzchni było tu jakieś 5,18 km2, a liczba ludności 39.264, z czego 85% górali spod Zakopanego. Tu Jasiek nabrał wiatru w żagle, tu mawiał „Mógłbym się rozmnażać”, ale nosiło Jaśka po Stanach. A to w Texasie zdobył tytuł Championa w Łapaniu Świni na Lasso, a to smukły niczym charcik rzeźnika ujeżdżał strusie na oklep, kury szczać prowadzał, zapładniał in vitro młode jałówki w Alabamie. Tęsknota za krajem jednak raniła mu serce niczym głaz okrutny. Miał kasę, znajomych, poważanie u miejscowego proboszcza, ale „czas wracać” - pomyślał. Byl rok 2012. W USA wybory wygrał Barack Obama, obiecując min. zniesienie wiz dla Polaków i popierając małżeństwa homoseksualne. Facebook zadebiutował na giełdzie, wydobycie ropy i gazu z łupków pozwoli USA na niezależność energetyczną... W Polsce otwarto najdroższy stadion na świecie, wydobycie ropy i gazu z łupków pozwoli Polsce na niekończącą się zależność energetyczną od Ruskich. Rozpoczynają się Mistrzostwa Europy w piłce nożnej. Prezydent podpisuje ustawę emerytalną, dzięki której Jasiek będzie zapierdalał do 67 r.ż., a więc „Jest po co wracać” pomyślał. I tak Jasiek, Jan, a może już John – syn Maryśki i Franciszka z nieprawego łoża, zaopatrzony w RayBany i Conversy po wieloletniej tułaczce ląduje na lotnisku Chopina w Warszawie, gdzie zakotwiczy na dłużej. Mając amerykańskie doświadczenie, otwiera w Warszawie burgerownię BARN. Twórca By-Passa, Sex&amp;Violence, czy Psechujburgera po trzech latach otwiera nową kulinarną mekkę stolicy Barn Smoque, gdzie swoje doświadczenia z jałówkami z USA przełoży na szamę. Mówi się, że Pan Bóg budował świat przez 6 dni, a gdy 7 dnia odpoczywał Jasiek stworzył to miejsce. Żeby dojść do źródła musisz iść czasami pod prąd... Zobaczcie sami
                </p>
            </div>
        </div>
    </section>
    <section id="menu">
        <h2>MENU</h2>
        <div class="wrapper">
            <a onclick="$('#jedzenie')">
            <div class="jedzenie">
                <figure>
                    <%= image_tag "icons/menu/eat", alt: "jedzenie" %>
                    <figcaption>
                        coś na ząb
                    </figcaption>
                </figure>
            </div>
            </a>
            <a onclick="$('#napoje')">
            <div class="napoje">
                <figure>
                    <%= image_tag "icons/menu/drink", alt: "napoje" %>
                    <figcaption>
                        napoje
                    </figcaption>
                </figure>
            </div>
            </a>
        </div>
    </section>
    <section id="aktualnosci">
        <h2>AKTUALNOŚCI</h2>
        <% @top_news.each do |news| %>
            <article class="day<%= news.date.day.to_s.rjust(2, '0')%>">
                <header><%= news.title %></header>
                <h4><%= news.date %></h4>
                <p>
                    <%= news.description_with_link.html_safe %>
                </p>
            </article>
        <% end %>
    </article>
</section>
<section id="galeria">
    <div class="galeria_first picture">
        <figure>
            <a href="/assets/gallery/big/01.jpg" data-title="<center><b>CHILLI CON CARNE</b> - pikantna zupa z wołowiny,ser, fasola, jalapeno, salsa fresca, guacamole, nachos</center>" data-size="1600x902">
                <%= image_tag "gallery/small/01", alt: "gallery", class: "gallery_big" %>
                <figcaption>CHILLI CON CARNE</figcaption>
            </a>
        </figure>
        <div class="small_photos">
            <figure>
                <a href="/assets/gallery/big/02.jpg" data-title="<center><b>DEATH’S KISS</b> - brownies bez mąki, sorbet pomarańczowy, creme fraiche</center>" data-size="1600x902">
                    <%= image_tag "gallery/small/02", alt: "gallery", class: "gallery_small" %>
                    <figcaption>DEATH’S KISS</figcaption>
                </a>
            </figure>
            <figure>
                <a href="/assets/gallery/big/03.jpg" data-title="<center><b>MARGARITA TRUSKAWKOWA, MOJITO, CUBA LIBRE, TEQUILA SUNRISE</b></center>" data-size="1600x902">
                    <%= image_tag "gallery/small/03", alt: "gallery", class: "gallery_small" %>
                    <figcaption>DRINKI</figcaption>
                </a>
            </figure>
        </div>
    </div>
    <div class="galeria_second picture">
        <div class="small_photos">
            <figure>
                <a href="/assets/gallery/big/04.jpg" data-title="<center><b>LOKAL PIĘTRO<b></center>" data-size="1600x902">
                    <%= image_tag "gallery/small/04", alt: "gallery", class: "gallery_small" %>
                    <figcaption>LOKAL PIĘTRO</figcaption>
                </a>
            </figure>
            <figure>
                <a href="/assets/gallery/big/05.jpg" data-title="<center><b>LOKAL PARTER</b></center>" data-size="1600x902">
                    <%= image_tag "gallery/small/05", alt: "gallery", class: "gallery_small" %>
                    <figcaption>LOKAL PARTER</figcaption>
                </a>
            </figure>
        </div>
        <figure>
            <a href="/assets/gallery/big/06.jpg" data-title="<center><b>JOE BUFFALO WINGS - LOUISIANA / BBQ</b> - smażone skrzydełka, seler naciowy, marchewka, ranch dip</center>" data-size="1600x902">
                <%= image_tag "gallery/small/06", alt: "gallery", class: "gallery_big" %>
                <figcaption>JOE BUFFALO WINGS</figcaption>
            </a>
        </figure>
    </div>
    <div class="galeria_second picture">
        <div class="small_photos">
            <figure>
                <a href="/assets/gallery/big/07.jpg" data-title="<center><b>MIESZANE SAŁATY Z GRILLOWANYMI POLĘDWICZKAMI WIEPRZOWYMI, NACHOS, SEREM PLEŚNIOWYM, WARZYWAMI I VINEGRET</b></center>" data-size="1600x902">
                    <%= image_tag "gallery/small/07", alt: "gallery", class: "gallery_small bez-bordera" %>
                    <figcaption>SAŁATY Z POLĘDW...</figcaption>
                </a>
            </figure>
            <figure>
                <a href="/assets/gallery/big/08.jpg" data-title="<center><b>BIG BIRD</b> - tortilla z kurczakiem, fasolą, kukurydzą, serem, ananasem, curry mayo</center>" data-size="1600x902">
                    <%= image_tag "gallery/small/08", alt: "gallery", class: "gallery_small bez-bordera" %>
                    <figcaption>BIG BIRD</figcaption>
                </a>
            </figure>
        </div>
        <figure>
            <a href="/assets/gallery/big/09.jpg" data-title="<center><b>RANCHERO BURRITO</b> - chilli con carne, fasola, guacamole, pico de gallo, jalapeno, ser cheddar & mimolette, kolendra, nachos, śmietana</center>" data-size="1600x902">
                <%= image_tag "gallery/small/09", alt: "gallery", class: "gallery_big" %>
                <figcaption>RANCHERO BURRITO</figcaption>
            </a>
        </figure>
    </div>
    <div class="galeria_first picture">
        <figure>
            <a href="/assets/gallery/big/10.jpg" data-title="<center><b>RIB EYE</b> - 300g stejka z grilla, ziemniaki zapiekane z kozim serem, masło</center>" data-size="1600x902">
                <%= image_tag "gallery/small/10", alt: "gallery", class: "gallery_big bez-bordera" %>
                <figcaption>RIB EYE</figcaption>
            </a>
        </figure>
        <div class="small_photos">
            <figure>
                <a href="/assets/gallery/big/11.jpg" data-title="<center><b>JAMBALAYA</b> - kreolska potrawa z ryżu z kurczakiem, krewetkami, chorizo, warzywami, serwowana na patelni (śmiało dla dwóch osób)</center>" data-size="1600x902">
                    <%= image_tag "gallery/small/11", alt: "gallery", class: "gallery_small" %>
                    <figcaption>JAMBALAYA</figcaption>
                </a>
            </figure>
            <figure>
                <a href="/assets/gallery/big/12.jpg" data-title="<center><b>ZEB mc CAIN</b> - żeberka wieprzowe bbq style, fryty, fasola, colesław</center>" data-size="1600x902">
                    <%= image_tag "gallery/small/12", alt: "gallery", class: "gallery_small" %>
                    <figcaption>ZEB mc CAIN</figcaption>
                </a>
            </figure>
        </div>
    </div>
</section>
<section id="custom_menu">
    <div class="photo">
        <article>
            <header>
                COŚ NA ZĄB
            </header>
            <a class="showDrinks">
            <figure>
                <%= image_tag "icons/menu/drink_with_inscription", alt: "napoje" %>
            </figure>
            </a>
        </article>
    </div>
    <div class="wrapper">
        <div class="close">
            <%= image_tag "icons/close", alt: "close" %>
        </div>
        <div class="col1">
            <% @first_menu_group.each do |menu_group| %>
                <article>
                    <header><%= menu_group.name %></header>
                    <% menu_group.menu_items_ordered_by_number.each do |menu_item| %>
                        <h5><%= menu_item.name %></h5>
                        <% if menu_item.description.blank? %>
                            <div class="price item_without_description">
                        <% else %>
                            <div class="price">
                        <% end %>
                                <%= menu_item.price %></div>
                        <h6><%= menu_item.description %></h6>
                    <% end %>
                </article>
            <% end %>
        </div>
        <div class="col2">
            <% @second_menu_group.each do |menu_group| %>
                <article>
                    <header><%= menu_group.name %></header>
                    <% menu_group.menu_items_ordered_by_number.each do |menu_item| %>
                        <h5><%= menu_item.name %></h5>
                        <% if menu_item.description.blank? %>
                            <div class="price item_without_description">
                        <% else %>
                            <div class="price">
                        <% end %>
                                <%= menu_item.price %></div>
                        <h6><%= menu_item.description %></h6>
                    <% end %>
                </article>
            <% end %>
        </div>
    </div>
</section>
<section id="custom_drinks">
    <div class="photo">
        <article>
            <header>
                NAPOJE
            </header>
            <a class="showMenu">
            <figure>
                <%= image_tag "icons/menu/eat_with_inscription", alt: "napoje" %>
            </figure>
            </a>
        </article>
    </div>
    <div class="wrapper">
        <div class="close">
            <%= image_tag "icons/close", alt: "close" %>
        </div>
        <div class="col1">
            <% @first_drink_group.each do |drink_group| %>
                <article>
                    <header><%= drink_group.name %></header>
                    <%= show_drink_items_from_drink_group(drink_group) %>
                </article>
            <% end %>
        </div>
        <div class="col2">
            <% @second_drink_group.each do |drink_group| %>
                <article>
                    <header><%= drink_group.name %></header>
                    <%= show_drink_items_from_drink_group(drink_group) %>
                </article>
            <% end %>
        </div>
    </div>
</section>
<section id="kontakt">
    <div class="left-side">
        <div class="kontakt-godziny-otwarcia">
            <article>
                <header>Godziny otwarcia</header>
                <p><span>Pon.-Pt.:</span> 9:00 - 23:00</p>
                <p><span>Sob.:</span> 13:00 - 23:00</p>
                <p><span>Nd.:</span> 13:00 - 22:00</p>
            </article>
        </div>
        <div id="kontakt_miejsce">
            <figure>
                <%= image_tag "icons/contact/marker", alt: "znacznik" %>
                <figcaption>
                    ul. Zgoda 5, Warszawa
                </figcaption>
            </figure>
            <a href="tel:+48571414121">
            <figure>
                <%= image_tag "icons/contact/phone", alt: "telefon" %>
                <figcaption>
                    571 414 121
                </figcaption>
            </figure>
            </a>
            <a href="mailto:kontakt@barnsmoque.pl">
            <figure>
                <%= image_tag "icons/contact/mail", alt: "mail" %>
                <figcaption>
                    kontakt@barnsmoque.pl
                </figcaption>
            </figure>
            </a>
        </div>
        <div id="kontakt_www">
            <a href="http://facebook.com/BarnSmoque" target="_blank">
            <figure>
                <%= image_tag "icons/contact/facebook", alt: "facebook" %>
                <figcaption>
                    facebook.com/BarnSmoque
                </figcaption>
            </figure>
            </a>
            <a href="http://instagram.com/barnsmoque" target="_blank">
            <figure>
                <%= image_tag "icons/contact/instagram", alt: "instagram" %>
                <figcaption>
                    barnsmoque.pl/instagram
                </figcaption>
            </figure>
            </a>
            <a href="http://barnburger.pl" target="_blank">
            <figure>
                <%= image_tag "icons/contact/barnburger", alt: "barn burger" %>
                <figcaption>
                    barnburger.pl
                </figcaption>
            </figure>
            </a>
        </div>
    </div>
    <div class="right-side" style="height: 100%">
        <div id="mapa-box" style="float:left;width:100%;height:568px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
            <%= javascript_tag do %>
                initialize();
                  function initialize() {
                  var myLatlng = new google.maps.LatLng(52.232746, 21.013506);
                  var mapOptions = {
                    zoom: 16,
                    center: myLatlng,
                    scrollwheel:true,
                    styles: [{"stylers":[{"hue":"#ff8800"},{"gamma":0.72},{"lightness":4},{"visibility":"simplified"},{"saturation": -100}]}],
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  }

                  var map = new google.maps.Map(document.getElementById('mapa-box'), mapOptions);

                  var infowindow = new google.maps.InfoWindow({
                      content: '<div style="width:170px; height:70px"><b>Barn Smoque</b><br>ul. Zgoda 5<br>Warszawa<br>tel.: 571 414 121<br><a href="http://facebook.com/BarnSmoque" target="_blank">facebook.com/BarnSmoque</a></div>'
                  });
                  var image = '<%= image_path "maps_logo.png" %>';
                  var marker = new google.maps.Marker({
                      position: myLatlng,
                      map: map,
                      icon: image,
                      title: 'Barn Burger'
                  });
                  google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                  });
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            <% end %>
        </div>
    </div>
</section>
<footer>
    <div class="center-small">
        <figure>
            <%= image_tag "logo_invert", alt: "logo" %>
        </figure>
    </div>
    <div class="left_side">
        <p><a href="http://IdeasFactory.pl" target="_blank">©IdeasFactory.pl</a></p>
    </div>
    <div class="center">
        <figure>
            <%= image_tag "logo_invert", alt: "logo" %>
        </figure>
    </div>
    <div class="right_side">
        <p>ul. Zgoda 5 Warszawa</p>
        <p>
        <a href="tel:571414121">tel.: 571414121</a></p>
        <p>
        <a href="mailto:kontakt@barnsmoque.pl">kontakt@barnsmoque.pl</a></p>
    </div>
</footer>
<%# if DateTime.now < "2015-12-23".to_date %>
    <!--
    <a id="hidden_link" rel="group" href="/images/wigilia.jpg" style="display:none" title='<center><%= link_to "<b>KLIKNIJ TUTAJ po więcej informacji</b>", "wigilia_barn_smoque.pdf", {style: "color: #d35400; text-decoration: none"} %></center>'<img src="/assets/logo.png" alt=""></a>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#hidden_link").fancybox({
          helpers     : {
            title: {
              type: 'inside'
            }
          }
        });
        $(document).ready(function(){
          $("#hidden_link").eq(0).trigger('click');
        });
      });
    </script>
    -->
<%# end %>
<%= javascript_include_tag "jquery.fancybox" %>
<%= javascript_include_tag "show_more" %>
<%= javascript_include_tag "animatescroll.min" %>
<%= javascript_include_tag "nav" %>
<%= javascript_include_tag "menu_hover" %>
<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "lightbox" %>
<%= javascript_include_tag "photoswipe.min" %>
<%= javascript_include_tag "photoswipe-ui-default.min" %>

<!--[if lt IE 9]>
<script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
<![endif]-->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Zamknij (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Udostępnij"></button>
                <button class="pswp__button pswp__button--fs" title="Włącz/wyłącz pełny ekran"></button>
                <button class="pswp__button pswp__button--zoom" title="Powiększ/Pomniejsz"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Poprzednie (strzałka w lewo)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Następne (strzałka w prawo)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script>
    (function($) {
        var $pswp = $('.pswp')[0];
        var image = [];
        var $pic     = $('.picture'),
            getItems = function() {
                var items = [];
                $pic.find('a').each(function() {
                    var $href   = $(this).attr('href'),
                        $size   = $(this).data('size').split('x'),
                        $width  = $size[0],
                        $height = $size[1],
                        $title  = $(this).data('title');

                    var item = {
                        src   : $href,
                        w     : $width,
                        h     : $height,
                        title : $title
                    }

                    items.push(item);
                });
                return items;
            }

        var items = getItems();

        $.each(items, function(index, value) {
            image[index]     = new Image();
            image[index].src = value['src'];
        });

        $pic.on('click', 'figure', function(event) {
            event.preventDefault();
            var number = $(this).find('a').attr('href').split('big/')[1].substr(0,2);
            number--;
            if (number[0] == "0"){
                number = number.substr(1);
            }
            // var $index = $(this).index();
            var $index = number;
            var options = {
                index: $index,
                bgOpacity: 0.7,
                showHideOpacity: true
            }
            var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
            lightBox.init();
        });
    })(jQuery);
</script>
