<% content_for :title, "Barn Smoque - Warszawa ul. Zgoda 5" %>        
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'lightbox' %>
<% end %>
        <section id="start">
            <div class="wrapper">
                <figure>
                    <%= image_tag("logo_invert", alt: "Logo Barn Smoque") %>
                </figure>
                <div>
                    <h1>Warszawa ul. Zgoda 5</h1>
                    <h1><a href="tel:+48571414121">571414121</a></h1>
                </div>
                <div class="icons">
                    <figure>
                        <a href="http://facebook.com/BarnSmoque" title="Odwiedź facebooka Barn Smoque" target="_blank">
                            <%= image_tag "icons/facebook_small", alt: "facebook" %>
                        </a>
                    </figure>
                    <figure>
                        <a href="http://instagram.com/barnsmoque" title="Zobacz instagram Barn Smoque" target="_blank">
                            <%= image_tag "icons/instagram_small", alt: "instagram" %>
                        </a>
                    </figure>
                    <figure>
                        <a href="mailto:kontakt@barnsmoque.pl" title="Napisz maila Barn Smoque">
                            <%= image_tag "icons/mail_small", alt: "mail" %>
                        </a>
                    </figure>
                    <figure>
                        <a href="tel:+48571414121" title="Zadzwoń do Barn Smoque">
                            <%= image_tag "icons/phone_small", alt: "telefon" %>
                        </a>
                    </figure>
                </div>
            </div>
        </section>
        <nav>
            <div class="close_nav">
                <%= image_tag "icons/close_nav", alt: "close" %>
            </div>
            <ul>
                <li>
                    <a onclick="$('#start').animatescroll();">Start</a>
                </li>
                <li>
                    <a onclick="$('#o_restauracji').animatescroll();">O restauracji</a>
                </li>
                <li>
                    <a onclick="$('#menu').animatescroll();">Menu</a>
                </li>
                <li>
                    <a onclick="$('#aktualnosci').animatescroll();">Aktualności</a>
                </li>
                <li>
                    <a onclick="$('#galeria').animatescroll();">Galeria</a>
                </li>
                <li>
                    <a onclick="$('#kontakt').animatescroll();">Kontakt</a>
                </li>
            </ul>
        </nav>
        <div class="menu_button">
            <%= image_tag "icons/menu", alt: "Menu" %>
        </div>
        <section id="o_restauracji">
            <div class="wrapper">
                <h2>O RESTAURACJI</h2>
                <h3>Był rok 1969 w kulturze zwany okresem dzieci kwiatów. Na Woodstocku występowali m.in. Jimi Hendrix, Janis Joplin z Texasu, czy Jefferson Airplane. Prezydentem został Richard Nixon.</h3>
                <p>Tego lata Apollo 11 z Neilem Armstrongiem wylądował na księżycu. W Polsce Breakout wydał album „Na drugim brzegu tęczy”, a Skaldowie „Cała jesteś w skowronkach”. W wyborach do Sejmu poseł Władysław Gomułka otrzymał 99,44% głosów, Józef Cyrankiewicz 94% głosów, a PZPR 255 mandatów. Na Księżyc mogliśmy sobie jedynie popatrzeć... W Murzasichle nieopodal Zakopanego, młody Jasiek Gąsiennica Curuś-Farell Pizdryk Gawęda zawiązał tobołek z chlebem i bryndzą, otrzymał błogosławieństwo od rodziców na drogę za wielką wodę, co by zielonych dudków naprzywozić. W Gdyni już czekał wysłużony, ale wciąż luksusowy i drogi statek turbinowo - parowy „Stefan Batory”. To na jego pokładzie 18-letni Jasiek dotarł do Nowego Jorku, gdzie zaczął się jego amerykański sen.
                </p>
                <a class="show_more_about_restaurant">Rozwiń...</a>
                <div class="more_about_restaurant">
                    <p>
                    Tułał się niczym westernowy kołtun kurzu na teksańskiej prerii. Był pucybutem na Broadway przy Plaza Hotel, pomywaczem w Jack’s Fire Dept i lał wachę na stacji benzynowej przy Bedford Ave, by po kilku latach przenieść się do Avondale w Chicago, czyli słynnego Jackowa położonego w północno-zachodniej części miasta pomiędzy rzeką Chicago, a ulicami Diversey Avenue, Addison Street, i Pulaski Road. Jackowo to był raj dla Jaśka. Niby już po amerykańsku gadał, ale tu wszyscy mówili po polsku, a raczej po góralsku. Powierzchni było tu jakieś 5,18 km2, a liczba ludności 39.264, z czego 85% górali spod Zakopanego. Tu Jasiek nabrał wiatru w żagle, tu mawiał „Mógłbym się rozmnażać”, ale nosiło Jaśka po Stanach. A to w Texasie zdobył tytuł Championa w Łapaniu Świni na Lasso, a to smukły niczym charcik rzeźnika ujeżdżał strusie na oklep, kury szczać prowadzał, zapładniał in vitro młode jałówki w Alabamie. Tęsknota za krajem jednak raniła mu serce niczym głaz okrutny. Miał kasę, znajomych, poważanie u miejscowego proboszcza, ale „czas wracać” - pomyślał. Byl rok 2012. W USA wybory wygrał Barack Obama, obiecując min. zniesienie wiz dla Polaków i popierając małżeństwa homoseksualne. Facebook zadebiutował na giełdzie, wydobycie ropy i gazu z łupków pozwoli USA na niezależność energetyczną... W Polsce otwarto najdroższy stadion na świecie, wydobycie ropy i gazu z łupków pozwoli Polsce na niekończącą się zależność energetyczną od Ruskich. Rozpoczynają się Mistrzostwa Europy w piłce nożnej. Prezydent podpisuje ustawę emerytalną, dzięki której Jasiek będzie zapierdalał do 67 r.ż., a więc „Jest po co wracać” pomyślał. I tak Jasiek, Jan, a może już John – syn Maryśki i Franciszka z nieprawego łoża, zaopatrzony w RayBany i Conversy po wieloletniej tułaczce ląduje na lotnisku Chopina w Warszawie, gdzie zakotwiczy na dłużej. Mając amerykańskie doświadczenie, otwiera w Warszawie burgerownię BARN. Twórca By-Passa, Sex&amp;Violence, czy Psechujburgera po trzech latach otwiera nową kulinarną mekkę stolicy Barn Smoque, gdzie swoje doświadczenia z jałówkami z USA przełoży na szamę. Mówi się, że Pan Bóg budował świat przez 6 dni, a gdy 7 dnia odpoczywał Jasiek stworzył to miejsce. Żeby dojść do źródła musisz iść czasami pod prąd... Zobaczcie sami
                    </p>
                </div>
            </div>
        </section>
        <section id="menu">
            <h2>MENU</h2>
            <div class="wrapper">
                <a onclick="$('#jedzenie')">
                <div class="jedzenie">
                    <figure>
                        <%= image_tag "icons/menu/eat", alt: "jedzenie" %>
                        <figcaption>
                            coś na ząb
                        </figcaption>
                    </figure>
                </div>
                </a>
                <a onclick="$('#napoje')">
                <div class="napoje">
                    <figure>
                        <%= image_tag "icons/menu/drink", alt: "napoje" %>
                        <figcaption>
                            napoje
                        </figcaption>
                    </figure>
                </div>
                </a>
            </div>
        </section>
        <section id="aktualnosci">
            <h2>AKTUALNOŚCI</h2>
            <% @top_news.each do |news| %>
                <article class="day<%= news.date.day.to_s.rjust(2, '0')%>">
                    <header><%= news.title %></header>
                    <h4><%= news.date_string %></h4>
                    <p>
                        <%= news.description_with_link.html_safe %>
                    </p>
                </article>
            <% end %>
        </article>
</article>
</section>
<section id="galeria">
<div class="galeria_first">
    <figure>
        <a href="/assets/gallery/big/01.jpg" data-lightbox="gallery" data-title="CHILLI CON CARNE - pikantna zupa z wołowiny,ser, fasola, jalapeno, salsa fresca, guacamole, nachos">
            <%= image_tag "gallery/small/01.jpg", alt: "gallery", class: "gallery_big" %>
            <figcaption>CHILLI CON CARNE</figcaption>
        </a>        
    </figure>
    <div class="small_photos">
        <figure>
            <a href="/assets/gallery/big/02.jpg" data-lightbox="gallery" data-title="DEATH’S KISS - brownies bez mąki, sorbet pomarańczowy, creme fraiche">
                <%= image_tag "gallery/small/02", alt: "gallery", class: "gallery_small" %>
                <figcaption>DEATH’S KISS</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/assets/gallery/big/03.jpg" data-lightbox="gallery" data-title="MARGARITA TRUSKAWKOWA, MOJITO, CUBA LIBRE, TEQUILA SUNRISE">
                <%= image_tag "gallery/small/03", alt: "gallery", class: "gallery_small" %>
                <figcaption>DRINKI</figcaption>
            </a>
        </figure>
    </div>
</div>
<div class="galeria_second">
    <div class="small_photos">
        <figure>
            <a href="/assets/gallery/big/04.jpg" data-lightbox="gallery" data-title="LOKAL PIĘTRO">
                <%= image_tag "gallery/small/04", alt: "gallery", class: "gallery_small" %>
                <figcaption>LOKAL PIĘTRO</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/assets/gallery/big/05.jpg" data-lightbox="gallery" data-title="LOKAL PARTER">
                <%= image_tag "gallery/small/05", alt: "gallery", class: "gallery_small" %>
                <figcaption>LOKAL PARTER</figcaption>
            </a>
        </figure>
    </div>
    <figure>
        <a href="/assets/gallery/big/06.jpg" data-lightbox="gallery" data-title="JOE BUFFALO WINGS - LOUISIANA / BBQ - smażone skrzydełka, seler naciowy, marchewka, ranch dip">
            <%= image_tag "gallery/small/06", alt: "gallery", class: "gallery_big" %>
            <figcaption>JOE BUFFALO WINGS</figcaption>
        </a>
    </figure>
</div>
<div class="galeria_second">
    <div class="small_photos">
        <figure>
            <a href="/assets/gallery/big/07.jpg" data-lightbox="gallery" data-title="PANCAKE - naleśniki na maślance z syropem klonowym i owocami">
                <%= image_tag "gallery/small/07", alt: "gallery", class: "gallery_small bez-bordera" %>
                <figcaption>PANCAKE</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/assets/gallery/big/08.jpg" data-lightbox="gallery" data-title="QUESADILLAS RIO GRANDE Qra | Wół | Wege - tortilla pszenna grillowana, ser, papryka, szczypiorek, cebulka, salsa fresca">
                <%= image_tag "gallery/small/08", alt: "gallery", class: "gallery_small bez-bordera" %>
                <figcaption>QUESADILLAS RIO GRANDE</figcaption>
            </a>
        </figure>
    </div>
    <figure>
        <a href="/assets/gallery/big/09.jpg" data-lightbox="gallery" data-title="RANCHERO BURRITO - chilli con carne, fasola, guacamole, pico de gallo, jalapeno, ser cheddar & mimolette, kolendra, nachos, śmietana">
            <%= image_tag "gallery/small/09", alt: "gallery", class: "gallery_big" %>
            <figcaption>RANCHERO BURRITO</figcaption>
        </a>
    </figure>
</div>
<div class="galeria_first">
    <figure>
        <a href="/assets/gallery/big/10.jpg" data-lightbox="gallery" data-title="RIB EYE - 300g stejka z grilla, ziemniaki zapiekane z kozim serem, masło">
            <%= image_tag "gallery/small/10", alt: "gallery", class: "gallery_big bez-bordera" %>
            <figcaption>RIB EYE</figcaption>
        </a>
    </figure>
    <div class="small_photos">
        <figure>
            <a href="/assets/gallery/big/11.jpg" data-lightbox="gallery" data-title="SOFT TACOS QRA / WOŁOWINA / WEGE / KREWETKI - tortilla pszenna, papryka, cebula, salsa fresca, śmietana, guacamole, ser, fryty">
                <%= image_tag "gallery/small/11", alt: "gallery", class: "gallery_small" %>
                <figcaption>SOFT TACOS</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/assets/gallery/big/12.jpg" data-lightbox="gallery" data-title="ZEB mc CAIN - żeberka wieprzowe bbq style, fryty, fasola, colesław">
                <%= image_tag "gallery/small/12", alt: "gallery", class: "gallery_small" %>
                <figcaption>ZEB mc CAIN</figcaption>
            </a>
        </figure>
    </div>
</div>
</section>
<section id="kontakt">
    <div class="left-side">
        <div class="kontakt-godziny-otwarcia">
            <article>
                <header>Godziny otwarcia</header>
                <p><span>Pon.-Pt.:</span> 12:00 - 23:00</p>
                <p><span>Sob.:</span> 13:00 - 23:00</p>
                <p><span>Nd.:</span> 13:00 - 22:00</p>
            </article>
        </div>
        <div id="kontakt_miejsce">
            <figure>
                <%= image_tag "icons/contact/marker", alt: "znacznik" %>
                <figcaption>
                    ul. Zgoda 5, Warszawa
                </figcaption>
            </figure>
            <a href="tel:+48571414121">
            <figure>
                <%= image_tag "icons/contact/phone", alt: "telefon" %>
                <figcaption>
                    571 414 121
                </figcaption>
            </figure>
            </a>
            <a href="mailto:kontakt@barnsmoque.pl">
            <figure>
                <%= image_tag "icons/contact/mail", alt: "mail" %>
                <figcaption>
                    kontakt@barnsmoque.pl
                </figcaption>
            </figure>
            </a>
        </div>
        <div id="kontakt_www">
            <a href="http://facebook.com/BarnSmoque" target="_blank">
            <figure>
                <%= image_tag "icons/contact/facebook", alt: "facebook" %>
                <figcaption>
                    facebook.com/BarnSmoque
                </figcaption>
            </figure>
            </a>
            <a href="http://instagram.com/barnsmoque" target="_blank">
            <figure>
                <%= image_tag "icons/contact/instagram", alt: "instagram" %>
                <figcaption>
                    barnsmoque.pl/instagram
                </figcaption>
            </figure>
            </a>
            <a href="http://barnburger.pl" target="_blank">
            <figure>
                <%= image_tag "icons/contact/barnburger", alt: "barn burger" %>
                <figcaption>
                    barnburger.pl
                </figcaption>
            </figure>
            </a>
        </div>
    </div>
    <div class="right-side" style="height: 100%">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=Zgoda%205%2C%20Warsaw%2C%20Poland&key=AIzaSyCUtAmbIgQpLObMMiwkjr4WRn5ZuEotm5M" width="100%" height="300px" allowfullscreen></iframe>
    </div>
</section>
<section id="custom_menu">
<div class="photo">
    <article>
        <header>
            COŚ NA ZĄB
        </header>
        <a class="showDrinks">
        <figure>
            <%= image_tag "icons/menu/drink_with_inscription", alt: "napoje" %>
        </figure>
        </a>
    </article>
</div>
<div class="wrapper">
    <div class="close">
        <%= image_tag "icons/close", alt: "close" %>
    </div>
    <div class="col1">
        <article>
            <header>
                BEZPRAWIE
            </header>
            <h5>
            QUESADILLAS RIO GRANDE Qra | Wół | Wege
            </h5>
            <div class="price">
                22
            </div>
            <h6>
            tortilla pszenna grillowana, ser, papryka, szczypiorek, cebulka, salsa fresca
            </h6>
            <h5>
            THE BILL NACHOS
            </h5>
            <div class="price">
                19
            </div>
            <h6>
            zapiekane nachosy z chilli con carne, ser chihuahua, kolendra, szczypior, salsa fresca, creme fraiche, jalapeno
            </h6>
            <h5>
            JOE BUFFALO WINGS - LOUISIANA / BBQ
            </h5>
            <div class="price">
                21
            </div>
            <h6>
            smażone skrzydełka, seler naciowy, marchewka, ranch dip
            </h6>
            <h5>
            FUCK CRACK BACON
            </h5>
            <div class="price">
                22
            </div>
            <h6>
            grillowany bekon w cieście piwnym, syrop klonowy, salsa jalapeno bbq
            </h6>
            <h5>
            IOWA STYLE BRISKET
            </h5>
            <div class="price">
                24
            </div>
            <h6>
            mostek wołowy bbq, placki z kukurydzy, ser manchego, sałata
            </h6>
        </article>
        <article>
            <header>
                ZA GARŚĆ DOLARÓW
            </header>
            <h5>
            SOFT TACOS QRA / WOŁOWINA / WEGE / KREWETKI
            </h5>
            <div class="price">
                21/ 21/ 21/ 28
            </div>
            <h6>
            tortilla pszenna, papryka, cebula, salsa fresca, śmietana, guacamole, ser, fryty
            </h6>
            <h5>
            RANCHERO BURRITO
            </h5>
            <div class="price">
                28
            </div>
            <h6>
            chilli con carne, fasola, guacamole, pico de gallo, jalapeno, ser cheddar & mimolette, kolendra, nachos, śmietana
            </h6>
        </article>
        <article>
            <header>
                ZA KILKA DOLARÓW WIECEJ...
            </header>
            <h5>
            HEART ATTACK
            </h5>
            <div class="price">
                26
            </div>
            <h6>
            burger 200g, ser x 2, bekon x 2, warzywa, salsa fresca, bbq, chipsy, colesław, fryty
            </h6>
            <h5>
            SEX & VIOLENCE
            </h5>
            <div class="price">
                26
            </div>
            <h6>
            burger 200g, ser, ser mascarpone ziołowe, bekon, rukola, warzywa, salsa fresca, bbq, colesław, frytyty
            </h6>
            <h5>
            MAMAS, PAPAS & DUPAS BLADAS
            </h5>
            <div class="price">
                26
            </div>
            <h6>
            burger 200g, ser, bekon, chorizo, warzywa, guacamole, salsa fresca, bbq, colesław, fryty
            </h6>
            <h5>
            PULLED PORK
            </h5>
            <div class="price">
                26
            </div>
            <h6>
            dłuuuuugo pieczona wieprzowina, ser, bbq, colesław, fasola z bekonem
            </h6>
            <h5>
            PHILLY CHEESE STEAK
            </h5>
            <div class="price">
                28
            </div>
            <h6>
            kanapka z rostbefem, duszonacebula, ser, sałata, pomidor, sos pieprzowy, fryty
            </h6>
        </article>
        <article>
            <header>
                ZA DODATKOWY HAJS
            </header>
            <h5>
            FRYTY
            </h5>
            <div class="price">
                5
            </div>
            <h6></h6>
            <h5>
            NACHOS
            </h5>
            <div class="price">
                5
            </div>
            <h6></h6>
            <h5>
            I INNE
            </h5>
            <div class="price">
                3
            </div>
            <h6></h6>
        </article>
    </div>
    <div class="col2">
        <article>
            <header>
                DWA OBLICZA ZEMSTY
            </header>
            <h5>
            CESAR SALAD QRA / KREWETKI
            </h5>
            <div class="price">
                22/ 28
            </div>
            <h6>
            sałata rzymska, bekon, parmezan, grzanki
            </h6>
        </article>
        <article>
            <header>
                W SAMO POŁUDNIE
            </header>
            <h5>
            CORN CHOWDER
            </h5>
            <div class="price">
                14
            </div>
            <h6>
            krem z kukurydzy, żeberka bbq, rukola
            </h6>
            <h5>
            CHILLI CON CARNE
            </h5>
            <div class="price">
                16
            </div>
            <h6>
            pikantna zupa z wołowiny,ser, fasola, jalapeno, salsa fresca, guacamole, nachos
            </h6>
        </article>
        <article>
            <header>
                PRAWDZIWE MĘSTWO
            </header>
            <h5>
            FISH & CHIPS
            </h5>
            <div class="price">
                29
            </div>
            <h6>
            dorsz essex w panierce, fryty, sos tatarski
            </h6>
            <h5>
            ZEB mc CAIN
            </h5>
            <div class="price">
                36
            </div>
            <h6>
            żeberka wieprzowe bbq style, fryty, fasola, colesław
            </h6>
            <h5>
            JERK CHICKEN AMISH
            </h5>
            <div class="price">
                32
            </div>
            <h6>
            1/2 qrczaka pieczonego, pureeziemniaczano - groszkowe, chorizo
            </h6>
            <h5>
            RIB EYE
            </h5>
            <div class="price">
                45
            </div>
            <h6>
            300g stejka z grilla, ziemniaki zapiekane z kozim serem, masło
            </h6>
            <h5>
            TOP LION
            </h5>
            <div class="price">
                45
            </div>
            <h6>
            300g stejka z grilla, groszek z pieczoną cebulą, fryty truflowe, sos Jack Daniel’s
            </h6>
        </article>
        <article>
            <header>
                BEZ PRZEBACZENIA
            </header>
            <h5>
            DEATH’S KISS
            </h5>
            <div class="price">
                18
            </div>
            <h6>
            brownies bez mąki, sorbet pomarańczowy, creme fraiche
            </h6>
            <h5>
            PLUM COBBLER
            </h5>
            <div class="price">
                14
            </div>
            <h6>
            śliwki z wanilią zapiekane pod kruszonką, lody cynamonowe z whisky
            </h6>
            <h5>
            PANCAKE
            </h5>
            <div class="price">
                14
            </div>
            <h6>
            naleśniki na maślance z syropem klonowym i owocami
            </h6>
        </article>
    </div>
</div>
</section>
<section id="custom_drinks">
<div class="photo">
    <article>
        <header>
            NAPOJE
        </header>
        <a class="showMenu">
        <figure>
            <%= image_tag "icons/menu/eat_with_inscription", alt: "napoje" %>
        </figure>
        </a>
    </article>
</div>
<div class="wrapper">
    <div class="close">
        <%= image_tag "icons/close", alt: "close" %>
    </div>
    <div class="col1">
        <article>
            <header>
                EL DORADO
            </header>
            <h5>
            Piwo z beczki 0,5l
            </h5>
            <div class="price">
                zapytaj kelnera
            </div>
            <h6></h6>
            <h5>
            Raciborskie. 0,5l
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            Pszeniczniak 0.5l
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            Johannes 0.5l
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            Koźlak 0.5l
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            Corona 0.33l
            </h5>
            <div class="price">
                12
            </div>
            <h6></h6>
            <h5>
            Piwa rzemieślnicze
            </h5>
            <div class="price">
                12
            </div>
            <h6></h6>
        </article>
        <article>
            <header>
                GARŚĆ DYNAMITU
            </header>
            <div class="superscription">
                TEQUILA 40ml
            </div>
            <h5>
            OLMECA SLIVER
            </h5>
            <div class="price">
                15
            </div>
            <h6></h6>
            <h5>
            OLMECA GOLD
            </h5>
            <div class="price">
                15
            </div>
            <h6></h6>
            <div class="superscription">
                WHISKEY 40ml
            </div>
            <h5>
            JACK DANIELS
            </h5>
            <div class="price">
                15
            </div>
            <h6></h6>
            <h5>
            JIM BEAM
            </h5>
            <div class="price">
                13
            </div>
            <h6></h6>
            <h5>
            JAMESON
            </h5>
            <div class="price">
                13
            </div>
            <h6></h6>
            <div class="superscription">
                RUM 40ml
            </div>
            <h5>
            HAVANA CLUB
            </h5>
            <div class="price">
                12
            </div>
            <h6></h6>
            <h5>
            BACARDI LIGHT
            </h5>
            <div class="price">
                13
            </div>
            <h6></h6>
            <h5>
            BACARDI BLACK
            </h5>
            <div class="price">
                13
            </div>
            <h6></h6>
            <div class="superscription">
                WÓDKA 40ml
            </div>
            <h5>
            ABSOLUT
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            WYBOROWA
            </h5>
            <div class="price">
                8
            </div>
            <h6></h6>
            <div class="superscription">
                VERMOUTH 100ml
            </div>
            <h5>
            MARTINI BIANCO
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            MARTINI EXTRA DRY
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <div class="superscription">
                WINO DOMOWE
            </div>
            <h5>
            CZERWONE 12,5cl / 50cl
            </h5>
            <div class="price">
                9/30
            </div>
            <h6></h6>
            <h5>
            BIAŁE 12,5cl / 50cl
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
        </article>
    </div>
    <div class="col2">
        <article>
            <header>
                DOBRY, ZLY, BRZYDKI
            </header>
            <h5>
            MOJITO
            </h5>
            <div class="price">
                19
            </div>
            <h6>
            rum, mięta, woda gazowana, cukier trzcinowy, limonka
            </h6>
            <h5>
            COSMOPOLITAN
            </h5>
            <div class="price">
                17
            </div>
            <h6>
            wódka, cointreau, sok żurawinowy, sok z limonki
            </h6>
            <h5>
            MARGARITA classic/truskawkowa
            </h5>
            <div class="price">
                20
            </div>
            <h6>
            tequila, cointreau, sok z limonki/truskawki
            </h6>
            <h5>
            CUBA LIBRE
            </h5>
            <div class="price">
                18
            </div>
            <h6>
            rum, cola, sok z limonki
            </h6>
            <h5>
            TEQUILA SUNRISE
            </h5>
            <div class="price">
                20
            </div>
            <h6>
            tequila, sok pomarańczowy, grenadina
            </h6>
            <h5>
            ADIOS MOTHER FUCKER
            </h5>
            <div class="price">
                29
            </div>
            <h6>
            wódka, tequila, rum, whisky, cointreau, sok z cytryny, syrop cukrowy, sprite
            </h6>
            <h5>
            WHISKY SOUR
            </h5>
            <div class="price">
                16
            </div>
            <h6>
            whisky, sok z cytryny, syrop cukrowy
            </h6>
        </article>
        <article>
            <header>
                POJEDYNEK W CORRALU O.K.
            </header>
            <h5>
            COLA, COLA ZERO, FANTA 0.2l
            </h5>
            <div class="price">
                5
            </div>
            <h6></h6>
            <h5>
            TONIC, SPRITE 0.2l
            </h5>
            <div class="price">
                5
            </div>
            <h6></h6>
            <h5>
            DR PEPPER 0.33l
            </h5>
            <div class="price">
                8
            </div>
            <h6></h6>
            <h5>
            WODA KROPLA BESKIDU 0.25l
            </h5>
            <div class="price">
                5
            </div>
            <h6>
            gazowana / niegazowana
            </h6>
            <h5>
            SOKI CAPPY 0.2l
            </h5>
            <div class="price">
                5
            </div>
            <h6></h6>
            <h5>
            SOK ŚWIEŻO WYCISKANY 0.2l
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            LEMONIADA 0.2l
            </h5>
            <div class="price">
                7
            </div>
            <h6></h6>
            <h5>
            FRITZ-KOLA RÓŻNE SMAKI 0,33l
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            JOHN LEMON 0,33l
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            WOSTOK 0,33l
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            YERBA MATE / Z GRANATEM 0,33l
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
        </article>
        <article>
            <header>
                NAPAD NA EXPRESS
            </header>
            <h5>
            Herbata
            </h5>
            <div class="price">
                7
            </div>
            <h6></h6>
            <h5>
            Espresso
            </h5>
            <div class="price">
                6
            </div>
            <h6></h6>
            <h5>
            Espresso doppio
            </h5>
            <div class="price">
                10
            </div>
            <h6></h6>
            <h5>
            Latte
            </h5>
            <div class="price">
                9
            </div>
            <h6></h6>
            <h5>
            Cappuccino
            </h5>
            <div class="price">
                8
            </div>
            <h6></h6>
            <h5>
            Kawa mrożona
            </h5>
            <div class="price">
                12
            </div>
            <h6></h6>
        </article>
    </div>
</div>
</section>
<footer>
<div class="center-small">
    <figure>
        <%= image_tag "logo_invert", alt: "logo" %>
    </figure>
</div>
<div class="left_side">
    <p><a href="http://IdeasFactory.pl" target="_blank">©IdeasFactory.pl</a></p>
</div>
<div class="center">
    <figure>
        <%= image_tag "logo_invert", alt: "logo" %>
    </figure>
</div>
<div class="right_side">
    <p>ul. Zgoda 5 Warszawa</p>
    <p>
    <a href="tel:571414121">tel.: 571414121</a></p>
    <p>
    <a href="mailto:kontakt@barnsmoque.pl">kontakt@barnsmoque.pl</a></p>
</div>
</footer>
<%= javascript_include_tag "show_more" %>
<%= javascript_include_tag "animatescroll.min" %>
<%= javascript_include_tag "nav" %>
<%= javascript_include_tag "menu_hover" %>
<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "lightbox" %>

<!--[if lt IE 9]>
<script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
<![endif]-->
