<h1>Świniobicie</h1>
<h3>Uczestnicy</h3>
<p><%= link_to "Dodaj świniobijcę", new_attempt_path %></p>
<p><%= link_to "Listę świniobijców", attempts_path %></p>
<h3>Sezony</h3>
<p><%= link_to "Dodaj sezon świniobicia", new_season_path %></p>
<p><%= link_to "Lista sezonów świniobicia", seasons_list_path %></p>
<h1>Strona</h1>
<p><%= link_to "Dodaj aktualność po Polsku", new_news_path %></p>
<p><%= link_to "Lista aktualności po Polsku", news_index_path %></p>
<h1>Vouchery</h1>