<%= form_for @season do |f| %>
	<div class="form-group">
		<%= f.label :description, "Opis" %>
		<%= f.text_area :description, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :number, "Numer sezonu" %>
		<%= f.number_field :number, class: 'form-control' %>
	<div class="form-group">
	</div>
		<%= f.label :html_code, "Kod HTML (opcja dla zaawansowanych - dodaje kod html przed opisem na stronie" %>
		<%= f.text_area :html_code, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.submit "Wyślij", class: "btn btn-primary" %>
	</div>
<% end %>