<% if can? :show, User or @user = current_user %>
<div class="title">
  <%= @user.email %>
</div>
<div class="container theme-showcase" role="main">
  <div class="container">
    <table class="table table-hover">
        <tbody>
          <tr>
            <td>Uprawnienia</td>
            <td><%= @user.role.name %></td>
          </tr>
          <tr>
            <td>
              <% if can? :edit, User or @user = current_user %>
                <%= link_to "Edytuj", edit_user_path(@user), class: 'btn btn-warning btn-m' %>
              <% end %>
            </td>
            <td>
              <% if can? :destroy, User %>
                <%= link_to "Usuń", user_path(@user), method: :delete, data: {confirm: "Czy na pewno chcesz usunąć użytkownika #{@user.email}?"}, class: 'btn btn-danger btn-m' %>
              <% end %>
            </td>
          </tr>
          <% if can? :index, User %>
            <tr>
              <td>
                <%= link_to "Wróć do użytkowników", users_path, class: 'btn btn-info btn-m' %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<% else %>
  <%= render 'layouts/error_message', error_message: (I18n.translate 'alerts.error.no_permission') %>
<% end %>