<%= form_for @menu_group do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :english_name, "Nazwa po angielsku" %>
    <%= f.text_field :english_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :number, "Numer w kolejności (0 najwyżej 99 najniżej)" %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, "Data rozpoczęcia wyświetlania grupy menu" %>
    <%= f.datetime_select :start_date, include_blank: true, selected: @start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, "Data zakończenia wyświetlania grupy menu" %>
    <%= f.datetime_select :end_date, include_blank: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :menu_items, "Potrawy należące do tej grupy" %>
    <% for menu_item in @menu_group.free_and_own %>
      <div>
        <%= check_box_tag "menu_group[menu_item_ids][]", menu_item.id, @menu_group.menu_items.include?(menu_item) %>
        <%= menu_item.name %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "Wyślij", class: "btn btn-primary" %>
  </div>
<% end %>
