<div class="col-md-10 col-centered">
<%= form_for @attempt do |f| %>
  <div class="form-group">
    <%= f.label :season_id, "Numer sezonu" %>
    <%= f.select :season_id, options_for_select(@seasons.collect{ |s| [s.number, s.id] }, @seasons.last.id), {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :name, "Imię" %>
    <%= f.text_field(:name, required: true, placeholder: @last_name, oninvalid: "alert('Imię jest wymagane');", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :surname, "Nazwisko" %>
    <%= f.text_field(:surname, placeholder: @last_surname, class: "form-control") %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :minute, "Minuty" %>
        <%= f.number_field :minute, in: 0..59, oninvalid: "alert('Liczba powinna być z przedziału od 0 do 59');", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :second, "Sekundy" %>
        <%= f.number_field :second, in: 0..59, oninvalid: "alert('Liczba powinna być z przedziału od 0 do 59');", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :hundredths_of_second, "Setne sekundy" %>
        <%= f.number_field :hundredths_of_second, in: 0..99, oninvalid: "alert('Liczba powinna być z przedziału od 0 do 99');", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.file_field :avatar, class: "btn btn-info" %>
  </div>
  <div class="form-group">
    <%= f.submit "Wyślij", class: "btn btn-primary" %>
  </div>
<% end %>
</div>