<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'reset' %>
  <% if controller_name != 'main' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'alert', 'data-turbolinks-track' => true %>
  <% end %>
  <% if controller_name == "attempts" or controller_name == "sessions" or controller_name == "news" or controller_name == "vouchers" %>
    <%= stylesheet_link_tag 'attempt' %>
  <% end %>
  <%= yield :stylesheets %>
  <% favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', size: '60x60' %>
  <% favicon_link_tag 'favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', size: '72x72' %>
  <% favicon_link_tag 'favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', size: '76x76' %>
  <% favicon_link_tag 'favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', size: '114x114' %>
  <% favicon_link_tag 'favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', size: '120x120' %>
  <% favicon_link_tag 'favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', size: '144x144' %>
  <% favicon_link_tag 'favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', size: '152x152' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', size: '180x180' %>

  <% favicon_link_tag 'favicon/android-icon-192x192.png', rel: 'icon', type: 'image/png', size: '192x192' %>
  <% favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', size: '32x32' %>
  <% favicon_link_tag 'favicon/favicon-96x96.png', rel: 'icon', type: 'image/png', size: '96x96' %>
  <% favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', size: '16x16' %>

  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <link href="/assets/favicon/favicon.ico" rel="shortcut icon" />
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <%= yield(:head) %>
</head>
<body>
  <% if controller_name != 'main' %>
    <div class="wrapper">
      <% if flash[:success] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:success].html_safe %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert].html_safe %>
        </div>
      <% end %>
      <% unless controller_name == "seasons" and (controller.action_name == "show" or controller.action_name == "index") %>
        <div class="col-md-10 col-centered">
      <% end %>
      <%= yield(:message) %>
      <%= yield %>
      <% unless controller_name == "seasons" and (controller.action_name == "show" or controller.action_name == "index") %>
        <%= link_to "Wstecz", :back , class: "btn btn-warning"%>
        <%= link_to "Strona główna panelu", manager_path, class: "btn btn-success"%>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
