<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'reset' %>
  <% if controller_name != 'main' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'alert', 'data-turbolinks-track' => true %>
  <% end %>
  <% if controller_name == "attempts" or controller_name == "sessions" or controller_name == "news" or controller_name == "vouchers" or controller_name == "users" %>
    <%= stylesheet_link_tag 'attempt' %>
  <% end %>
  <%= yield :stylesheets %>
  <% favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', size: '60x60' %>
  <% favicon_link_tag 'favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', size: '72x72' %>
  <% favicon_link_tag 'favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', size: '76x76' %>
  <% favicon_link_tag 'favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', size: '114x114' %>
  <% favicon_link_tag 'favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', size: '120x120' %>
  <% favicon_link_tag 'favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', size: '144x144' %>
  <% favicon_link_tag 'favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', size: '152x152' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', size: '180x180' %>

  <% favicon_link_tag 'favicon/android-icon-192x192.png', rel: 'icon', type: 'image/png', size: '192x192' %>
  <% favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', size: '32x32' %>
  <% favicon_link_tag 'favicon/favicon-96x96.png', rel: 'icon', type: 'image/png', size: '96x96' %>
  <% favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', size: '16x16' %>

  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <% favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '57x57' %>
  <link href="/assets/favicon/favicon.ico" rel="shortcut icon" />
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <%= yield(:head) %>
</head>
<body>
  <% if controller_name != 'main' %>
    <% unless controller_name == "seasons" and (controller.action_name == "show" or controller.action_name == "index") %>
      <script src="/assets/bootstrap.min.js"></script>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Panel zarządzania Barn Smoque", manager_path, class: "navbar-brand"%>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Świniobicie<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if can? :create, Attempt %>
                      <li><%= link_to "Dodaj świniobijcę", new_attempt_path %></li>
                    <% end %>
                    <% if can? :index, Attempt %>
                      <li><%= link_to "Lista świniobijców", attempts_path %></li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <% if can? :create, Season %>
                      <li><%= link_to "Dodaj sezon świniobicia", new_season_path %></li>
                    <% end %>
                    <% if can? :list, Season %>
                      <li><%= link_to "Lista sezonów świniobicia", seasons_list_path %></li>
                    <% end %>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strona<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if can? :create, News %>
                      <li><%= link_to "Dodaj aktualność po Polsku", new_news_path %></li>
                    <% end %>
                    <% if can? :index, News %>
                      <li><%= link_to "Lista aktualności po Polsku", news_index_path %></li>
                    <% end %>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vouchery<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if can? :index, Voucher %>
                      <li><%= link_to "Lista voucherów", vouchers_path %></li>
                    <% end %>
                    <% if can? :find, Voucher %>
                      <li><%= link_to "Edytuj voucher (po wpisaniu kodu)", find_vouchers_path %></li>
                    <% end %>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Użytkownicy<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if can? :index, User %>
                      <li><%= link_to "Lista użytkowników", users_path %></li>
                    <% end %>
                    <% if can? :create, User %>
                      <li><%= link_to "Utwórz użytkownika", new_user_path %></li>
                    <% end %>
                    <% if can? :edit_own, User %>
                      <li><%= link_to "Edytuj swoje konto", edit_user_path(current_user) %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Wstecz", :back %></li>
                  <li><%= link_to "Wyloguj #{current_user.email}", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          <% end %>
        </div><!-- /.container-fluid -->
      </nav>
    <% end %>
    <div class="wrapper">
      <% if flash[:success] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:success].html_safe %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert].html_safe %>
        </div>
      <% end %>
      <% unless controller_name == "seasons" and (controller.action_name == "show" or controller.action_name == "index") %>
        <div class="col-md-10 col-centered">
      <% end %>
      <%= yield(:message) %>
      <% if controller_name != "sessions" %>
        <% if current_user.present? %>
          <% if current_user.has_role?('zbanowany') %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Jesteś zbanowany
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        <% else %>
          <%= yield %>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
