<%= form_for @voucher do |f| %>

  <div class="form-group">
    <%= f.label :code, "Kod" %>
    <% if can? :edit_code, Voucher %>
      <%= f.text_field :code, placeholder: @last_code, required: true, oninvalid: "alert('Kod jest wymagany');", minlength: 8, maxlength: 8, class: 'form-control' %>
    <% else %>
      <%= f.text_field :code, placeholder: @last_code, required: true, oninvalid: "alert('Kod jest wymagany');", minlength: 8, maxlength: 8, readonly: true, class: 'form-control' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Status" %>
    <%= f.select :status, options_for_select(["nowy", "wydany dla klienta", "zrealizowany przez klienta"], selected: f.object.status), {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.submit "Wyślij", class: "btn btn-primary" %>
  </div>
<% end %>
