<%= form_for find_vouchers_path do |f| %>
  <div class="form-group">
    <%= f.label :code, "Kod" %>
    <%= f.text_field :code, required: true, oninvalid: "alert('Kod jest wymagany');", maxlength: 8, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Wyślij", class: "btn btn-primary" %>
  </div>
<% end %>
<% if @voucher != nil %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Kod</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <%= link_to @voucher.code, voucher_path(@voucher.id) %>
          </td>
          <td>
            <%= @voucher.status %>
          </td>
          <td>
            <%= link_to "Edytuj", edit_voucher_path(@voucher), class: "btn btn-warning" %>
          </td>
          <td>
            <%= link_to "Usuń", voucher_path(@voucher), method: :delete, data: {confirm: "Jesteś pewien, że chcesz usunąć voucher: " + @voucher.code}, class: "btn btn-danger" %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>